$green: #6c9c5a;
$lightgreen: #4e8839;
$darkgreen: #566358;
$gray: #373e42;
$error: #e44845;

//Шрифты
$mainfont: 'robotoregular';
$mediumfont: 'robotomedium';
$titles: 'sansus_webissimoregular';
$light: 'robotolight';
$lightitalic: 'robotolight_italic';
$bold: 'robotobold';
$bolditalic: 'robotobold_italic';


* {
  font-size: 16px;
  font-family: $mainfont;
  font-smoothing: antialiased;
}

blockquote p {
  font-family: $lightitalic;
}

cite {
  font-family: $bolditalic;
  &:before {
    content: "\2014";
  }

}

a {
  font-family: $mediumfont;
  color: #6da3bd;
  text-decoration: underline;
  &:hover {
    text-decoration: none;
    cursor: pointer;
  }
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}


.visuallyHidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 0.0625rem;
  width: 0.0625rem;
  margin: -0.0625rem;
  padding: 0;
  border: 0;
  opacity: 0;
}